body{
    background-color: #4696e5; 
    font-family: 'Montserrat', sans-serif;
}
h1{
    margin: 0; 
}
.accordion{
    padding-top: 12px; 
    width: 75%; 
    display: flex; 
    justify-content: center; 
    margin: 0 auto;
    padding: 12px; 
}
.accordionItem{
   margin-bottom: 36px;
   margin-left: 12px;
   margin-right: 12px; 
}
.accordionTitle{
    margin: 0; 
    padding: 0 10px; 
    background-color: white; 
     cursor: pointer;
    border-radius: 10px
}
.accordionTitle--active{
    background-color: white;
    border-radius: 10px 10px 0 0; 

}
.accordionDescription{
    padding: 16px;
    max-height: 0; 
    overflow: hidden; 
    transition: all 0.3s linear; 
    opacity: 0; 
    background-color: white; 
    border-radius: 0 0 10px 10px; 
}
.accordionDescription--visible{
    opacity: 1; 
}