.navBar{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between
}
li a{
    text-decoration: none; 
}
li a:hover{
    color: white; 
}
li{
    display: block;
    transition-duration: 0.5s;
    text-decoration: none; 
}
li:hover{
    cursor: pointer; 
    
}
ul li ul {
    visibility: hidden; 
    opacity: 0;
    /* position: absolute;  */
    transition: all 0.5s ease; 
    margin-top: 1 rem; 
    /* left: 0;  */
    display: none;
    justify-content: left;
}
ul li:hover > ul, 
ul li ul:hover {
    visibility: visible; 
    opacity: 1; 
    display: block; 
}
ul li ul li {
    clear: both; 
    width: 100%; 
}